# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
env311/
venv/
.venv/

# Testing & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
tests/

# Dev tools
.flake8
pyproject.toml
pytest.ini
.bandit

# CI/CD
.github/

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
